body{
  background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
}
.App{
  position: relative;
}

footer{
  height: 7rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-form{
  width: 20rem;
  padding: 1rem 2rem;
  margin-right: 2rem;
}

#task-form-id{
  font-size: 1.5rem;
}

.center {
  margin: auto;
  width: 90%;
  padding: 5rem 1rem;
}

.task-button-submit{
  margin-top: 2rem;
  display: flex;
  flex-direction: inherit;
}

#main-layout{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-heads{
  text-align: center;
}

.list-button{
  display: flex;
  font-size: 1.3rem;
  align-items: center;
}

.td-badge {
  color: #AA076B;
}

.td-badge span {
  display: flex;
  justify-content: center;
  font-weight: 800;
  text-transform: uppercase;
}

#update-task-layout{
  position: fixed;
  z-index: 10;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-task-form{
  width: 20rem;
  padding: 1rem 2rem;
  position: relative;
}

.black-bg{
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 5px;
  padding: 0.5rem;
}

.btn-close-edit{
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  right: 1rem;
}

.btn-container{
  display: flex;
}

.time-ago{
  text-transform: capitalize;
  font-weight: 800;
  color: #61045F;
}

.card-empty-container{
  color: #AA076B;
}